* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@font-face {
  font-family: 'norsebold';
  src: url('/fonts/webfontkit-20250201-145525/norse-bold-webfont.woff2') format('woff2'),
       url('/fonts/webfontkit-20250201-145525/norse-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.wrapper {
  width: 100%;
  min-height: 100vh;

  display: flex;
}

.side-panel-img {
  width: 40%;
  height: 100vh;

  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  background-image: url("/img/leafs.png");
  background-size: cover;
}

.odin-logo-wrapper {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;


  background-color: black;
  opacity: 0.5;

}

.odin-text {
  font-family: "norsebold";
  font-size: 6rem;
  color: white
}

.odin-img {
  width: 130px;
  height: 100%;
}

img {
  height: 100%;
  object-fit: cover;
}

.img-author {
  color: white;
  align-self: center;
  margin: 10px;

  position: absolute;
  bottom: 10px;
}

.main-content  {
  width: 60%;
  height: 100vh;

  display: flex;
  flex-direction: column;

  flex-grow: 1;

}

.hero-text {
  background-color: rgba(249,250,251,255);
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 150px 50px 50px 50px;

  font-size: 2rem;
  font-weight: 700;

}

.sign-up-form {
  background-color: rgba(255,255,255,255);
  flex-grow: 1;

  box-shadow: 0px 10px 6px 0px rgba(0,0,0,0.25);
  padding: 50px;

  position: relative;
}

.sign-up-form > p {
  font-weight: 700;
  font-size: 2rem;
  margin-top: 30px;
}

form {
  width: 840px;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  margin-top: 70px;
}

input {
  margin: 5px;
  border-radius: 5px;
  height: 2rem;
  width: 23rem;
}

label {
  appearance: none;
  font-family: sans-serif;
  display: block;
}

input:focus {
  background: rgb(0 0 0 / 5%);
  border-radius: 5px;
}

input:user-invalid{
  border: 1px solid #ff0000;
}

.footer {
  background-color: rgba(249,250,251,255);
  flex-grow: 1;
}

button {
  margin: 50px;
  padding: 15px;
  font: bold 1.5rem sans-serif;
  border: 1px solid #333;
  border-radius: 5px;
  background: #596D48;
  cursor: pointer;
  color: #fff;
 
}

button:hover,
button:focus {
  background: #000;
  color: #fff;
}

.footer > p {
  margin: 5px 50px;
}